<link rel="stylesheet" href="/stylesheets/estilosrecetas.css">
<body>
    <p>
    <h5>BERENJENAS EN ESCABECHE</h5>
   <div class=img>
    <img src="images/berenjenasescabech.jpg" alt="">
    </div>
    <div class="ingredientes">
    <h3>Ingredientes:</h3>
    
    <a>
        <li>Berenjenas 4 unid.</li>
        <li>Sal entre fina</li>
        <li> Morrón rojo 1 unid</li>
        <li> Miel 1 cda sopera</li>
        <li>Aceite d oliva 1 cda sopera</li>
        <li>Aceite</li>
        <li>Perejil</li> 
        <li>Ajo</li>
        <li>Vinagre de alcohol</li>
        </div>
    </a>
    <br>
    <div class="procedimiento">
    <h3>Procedimiento:</h3>
    <ul>1. Colocar las rodajas de berenjena en un colador y espolvorear con sal.</ul>
    <ul>2. Dejar al menos 3 horas (ideal de un día para el otro) para que suelten buena cantidad de su agua.</ul>
    <ul>3.  Enjuagar y grillar en una sartén vueltas y vueltas.</ul>
    <ul>4.Colocar con los condimentos en frascos esterilizados, cubrir con aceite de girasol, oliva o mezcla de ambos.</ul>
    <h4>¡A disfrutar!</h4>
    </p>
    </div>