<body>
 <form action="/comunicateconnosotros" method="post" class="formulario">
 <p>
 <label for="nombre" class="form-label">nombre</label>
 <input type="text" name="nombre">
 </p>
 <p>
 <label for="email" class="form-label">email</label>
 <input type="text" name="email">
 </p>
 <p>
<label for="telefono" class="form-label">telefono</label>
<input type="text" name="telefono">
</p>
<p>
<label for="mensaje" class="form-label">mensaje</label>
<textarea type="textarea" name="mensaje"></textarea>
<button type="submit" class="btn btn-primary" >Button</button>
 </form>   
 <p>{{message}}</p>
</body>