<body>
    <link rel="stylesheet" href="/stylesheets/estilosrecetas.css">
    <p>
    <h5>FLAN</h5>
    <div class=img>
        <img src="images/flan.jpeg" alt="">
    </div>
    <div class="ingredientes">
        <h3>Ingredientes:</h3>
        <a>
            <li>5 huevos</li>
            <li>Medio litro de leche</li>
            <li>200 gramos de azucar</li>
            <li>1 cucharadita de esencia de vainilla</li>
            <br>
        </a>
    </div>
    <br>
    <div class="procedimiento">
        <h3>Procedimiento:</h3>
        <ul>1.Acaramelar la flanera y reservar.</ul>
        <ul>2.Mezclar los huevos con el azúcar, la esencia de vainilla y la leche.</ul>
        <ul>3.Colar la mezcla en el molde y hornear durante 75 minutos, a baño maría, a una temperatura entre 125° y
            150°.</ul>
        <h4>¡A disfrutar!</h4>
        </p>
    </div>