	 <link rel="stylesheet" href="/stylesheets/1 estilos.css">
    <br>
	<br>
	<h3>¡Nuevas recetas!</h3>
	<div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="10000">
				<img src="images/68823767-todavía-vida-de-la-rosquilla-esmalte-sobre-una-superficie-de-madera-rosquillas-glaseadas-son-un-pequ.webp" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Rosquitas glaceadas</h5>
					<p>Ideales para acompañar los mates de la tarde</p>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="2000">
				<img src="images/tortellini-in-brodo 2.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Tortellini in brodo</h5>
					<p> Una pasta muy diferente</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="images/pizza.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Pizza italiana</h5>
					<p>Fácil, rica y rápida</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
