<link rel="stylesheet" href="/stylesheets/estilosrecetas.css">
<body>
    <p>
    <h5>LASAGNA</h5>
    <div class=img>
    <img src="images/lasagna.jpg" alt="">
    </div>
    <div class="ingredientes">
    <h3>Ingredientes:</h3>
    <a>
        <li>Masa de pasta 400 grs</li>
        <li>Ricota 500 grs</li>
        <li>Queso rallado 150 grs</li>
        <li> Tomates secos hidratados 300 grs</li>
        <br>
        <H4>Salsa:</H4>
        <li>Tomate triturado 500 g</li>
        <li>Cebolla de verdeo 2 unidades</li>
        <li>Ajo 2 dientes</li>
        <li>Hojas de albahaca</li>
        <li>Sal y pimienta</li>
        <li>Aceite de oliva</li>
        <BR>
    </a>
    </div>
    <br>
    <div class="procedimiento">
    <h3>Procedimiento:</h3>
    <ul>1.Cortar masa de pasta en rectángulos (según molde) cocinar y reservar.</ul>
    <ul>2. Mezclar la ricota, salpimentar y agregar los tomates secos hidratados (Para hacerlos: cortar los tomates en ¼ y cocinar al horno a baja temperatura con tomillo y aceite de oliva y ajo hasta que se deshidraten casi por completo) y el queso rallado.</ul>
    <ul>3. Armar dentro de una bandeja la lasaña intercalando masa y relleno hasta llegar al borde superior de la bandeja.</ul>
    <ul>4. Para la salsa, saltear cebolla de verdeo en aceite de oliva junto al ajo hasta que esté tierna, salpimentar y luego incorporar la salsa de tomates. Cocinar unos minutos más y salsear y llevar al horno a gratinar..</ul>
    <ul>5. Llevar a fermentar lentamente en la heladera de un día para el otro, lo ideal es que pasen 24 horas.</ul>
    <h4>¡A disfrutar!</h4>
    </p>
    </div>