<link rel="stylesheet" href="/stylesheets/estilosrecetas.css">
<body>
    <p>
    <h5>PASTELITOS</h5>
    <div class=img>
    <img src="images/pastelitos 2.jpg" alt="">
    </div>
   <div class="ingredientes">
    <h3>Ingredientes:</h3>
    <a>
        <H4>Masa:</H4>
        <li>Harina 0000 500 grs</li>
        <li>Manteca 100 grs</li>
        <li>Agua 250 cc</li>
        <li>Sal 1 pizca</li>
        <li>Jugo de limón 1 cdta</li>
        <li>Almidón de maíz 25 grs</li>
        <li>Margarina 100 grs</li>
        <H4>Relleno:
        <li>Dulce de membrillo 500grs</li>
         <li>Dulce de batata 500grs</li>        
        </H4>
        <li>Harina 0000 500 grs</li>
        </div> 
        <br>
        <div class="procedimiento">
        <h3>Procedimiento:</h3>
        <ul>1.Para la masa, hacer una corona con la harina y salar. En el centro agregar la manteca fría, el jugo de limón y el agua. Arenar hasta unir y amasar levemente. Dejar descansar tapada, en heladera.</ul>
        <ul>2.Estirar un rectángulo y untar con la mezcla de margarina y almidón de maíz.</ul>
        <ul>3.Dar una vuleta simple y reservar en heladera por unos 30 minutos.</ul>
        <ul>4.Volver a estirar un rectángulo girando el pliegue original hacia el lateral y repetir la vuelta y el frío. Repetir este procedimiento por una tercera vez.</ul>
        <ul>5.Estirar la masa bien fina y cortar cuadrados de unos 10 cm de diámetro. Reservar.</ul>
        <ul>6.Para el armado, tomar una masa y colocar un cubito del dulce a elección en el centro. Humedecer y tapar con otro cuadrado cerrando el pastelito con la forma estrellada (no cerrando cuadrado con cuadrado, sino con las puntas libres).</ul>
        <ul>7.Para el armado: Pasado ese tiempo, retirar 2 horas antes de hornear, dejar que tome un poco de temperatura ambiente y estirar.</ul>
        <ul>8.Presionar bien la masa, lograr la figura del pastelito y freír en aceite caliente.</ul>
        <ul>9.Pincelar con almíbar.</ul>
        <h4>¡A disfrutar!</h4>
        </p>
</div>
</body>