<link rel="stylesheet" href="/stylesheets/recetas sala estilos.css">
<h1>Recetas saladas</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
	  <div class="card">
		<img src="images/pizza.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Pizza</h5>
		  <p class="card-text">Receta y paso a paso</p>
		<a href="/pizza" class="btn btn-primary">¡A cocinar!</a>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="images/pancampo.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Pan</h5>
		  <p class="card-text">Receta y paso a paso</p>
		  <a href="/pan" class="btn btn-primary">¡A cocinar!</a>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="images/tALLARINES.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Tallarines</h5>
		  <p class="card-text">Receta y paso a paso</p>
		    <a href="/tallarines" class="btn btn-primary">¡A cocinar!</a>
		</div>
	  </div>
	</div>
	<div class="col">
		<div class="card">
		  <img src="images/berenjenasescabech.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Berenjenas en escabeche</h5>
			<p class="card-text">Receta y paso a paso</p>
		<a href="/berenjenas" class="btn btn-primary">¡A cocinar!</a>
		  </div>
		</div>
	  </div>	
	  <div class="col">
		<div class="card">
		  <img src="images/tortellini-in-brodo-q.b.-cucina-scaled.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Tortellini in brodo</h5>
			<p class="card-text">Receta y paso a paso</p>
			<a href="/tortellini" class="btn btn-primary">¡A cocinar!</a>
		  </div>
		</div>
	  </div>
	<div class="col">
	  <div class="card">
		<img src="images/lasagna.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Lasagna</h5>
		  <p class="card-text">Receta y paso a paso</p>
		  <a  href="/lasagna"class="btn btn-primary" role="button">¡A cocinar!</a>
		</div>
	  </div>
	</div>
  </div>