<link rel="stylesheet" href="/stylesheets/recetas sala estilos.css">
<h1>Recetas dulces</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
	  <div class="card">
		<img src="images/flan.jpeg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Flan</h5>
		  <p class="card-text">Receta y paso a paso</p>
		<a href="/flan" class="btn btn-primary">¡A cocinar!</a>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="images/ip6Ezofdu9_320x286.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Rosquitas</h5>
		  <p class="card-text">Receta y paso a paso</p>
		  <a href="/Rosquitas" class="btn btn-primary">¡A cocinar!</a>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="images/pastelitos.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Pastelitos de membrillo</h5>
		  <p class="card-text">Receta y paso a paso</p>
		    <a href="/pastelitos" class="btn btn-primary">¡A cocinar!</a>
		</div>
	  </div>
	</div>
		</div>
	  </div>
	  </div>
	</div>
  </div>