<link rel="stylesheet" href="/stylesheets/estilosrecetas.css">
<body>
    <p>
    <h5>TALLARINES</h5>
    <div class=img>
    <img src="images/tALLARINES 2.jpg" alt="">
    </div>
   <div class="ingredientes">
    <h3>Ingredientes:</h3>
    <a>
        <li>Harina 500 g</li>
        <li>4/5 huevos</li>
        <li>Sal y pimienta</li>
        <br>

    </a>
    </div>
    <br>
    <div class="procedimiento">
    <h3>Procedimiento:</h3>
    <ul>1.Colocar en un bol y mezclar hasta unir, amasar hasta obtener una masa lisa.</ul>
    <ul>2.Dejar descansar y estirar.</ul>
    <ul>3.Cortar los tallarines.</ul>
    <ul>4.Hervir en abundante agua hasta que los fideos suban.</ul>
    <ul>5. Combinar con tu salsa favorita.</ul>
    <h4>¡A disfrutar!</h4>
    </p>
    </div>