<link rel="stylesheet" href="/stylesheets/estilosrecetas.css">
<body>
    <p>
    <h5>TORTELLINI IN BRODO</h5>
    <div class=img>
    <img src="images/tortellini 2.jpg" alt="">
    </div>
    <div class="ingredientes">
    <h3>Ingredientes:</h3>
    <a>
        <H4>Caldos y carnes:</H4>
        <li>1/2 Cabeza de ajo</li>
        <li>500 g de Carne de cerdo</li>
        <li>2 Cebollas chicas</li>
        <li> 700 g de Falda</li>
        <li>1 Hoja de Laurel</li>
        <li>2 Zanahorias</li>
        <li>700 g de Ossobuco en ruedas</li>
        <li>1/2 Cabeza de ajo</li>
        <li>Zapallo cabutia 1/2 unidad</li>
        <br>
        <H4>Tortellinis:</H4>
        <li>Queso parmesano 150 Gramos</li>
        <li>Sémola de grano duro 180 Gramos</li>
        <li>Semolin c/n</li>
        <li>Pollo cocido en el caldo, sin huesos y sin piel 1/2 unidad</li>
        <li>Prosciutto 50 Gramos</li>
        <li>Ossobuco cocido en el caldo y desmenuzado 250 Gramos</li>
        <li>Mortadella 100 Gramos</li>
        <li>Nuez moscada 1/4 cdta</li>
        <li>Huevos 5 Unidades</li>
    </a>
    </div>
    <br>
    <div class="procedimiento">
    <h3>Procedimiento:</h3>
    <h3>Caldo</h3>
    <ul>1.Pelar y rallar el zapallo y las zanahorias.</ul>
    <ul>2.En una cacerola, colocar el medio pollo, las carnes, el laurel y la media cabeza de ajo.</ul>
    <ul>3.Llevar a hervor y retirar las impurezas con una espumadera.</ul>
    <ul>4.Cuando el caldo dejó de soltar esas impurezas, incorporar las zanahorias, el zapallo y las cebollas cortadas en cuartos .</ul>
    <ul>5.Seguir cociendo a fuego medio y mantener la ebullición 1 hora y media.</ul>
    <ul>6.Retirar las carnes, colar el caldo y reservar.</ul>
    <ul>7.Retirar la piel y huesos del pollo.</ul>
    <ul>8.Desmenuzar el osobucco.</ul>
    <h3>Tortellinis</h3>
    <ul>9.Batir ligeramente los huevos.</ul>
    <ul>10.Sobre la mesada  formar una corona con la harina,  la sémola y la sal.</ul>
    <ul>11.Verter los huevos en el centro, e incorporarlos lentamente a la harina, yendo con las manos desde el centro de la corona hacia los bordes.</ul>
    <ul>12.Cuando la masa comienza a tomar forma, ejercer presión con la palma de las manos hasta lograr un bollo liso y amasar aproximadamente 10 minutos.</ul>
    <ul>13.Estirar la masa hasta que tenga un espesor de 1 mm.</ul>
    <ul>14.Cortar cuadrados de 3 cm x 3 cm y reservar en una placa cubierta con semolín.</ul
    <h3>Relleno</h3>
    <ul>15.Procesar la carne del pollo y el osobucco con la mortadela y el prosciutto hasta generar una pasta.</ul>
    <ul>16.Pasar a un bol e incorporar el parmesano, el huevo, la nuez moscada, la sal y la pimienta y mezclar bien.</ul>
    <ul>17.Con una cucharita, colocar una pequeña porción de relleno en el centro de los cuadrados de pasta.  </ul>
    <ul>18.Humedecer con agua los bordes de cada cuadrado y pegar uno sobre otro. Luego dar una vuelta para formar una canastita.</ul>
    <ul>19Presionar sobre la unión para que queden bien cerradas.</ul>
    <ul>20.Llevar a ebullición el caldo que habíamos reservado y cocinar los tortellini durante aproximadamente 6 minutos o hasta que suban a la superficie.</ul>
    <ul>21.Servir en  ese caldo.</ul>
    <h4>¡A disfrutar!</h4>
    </div>
    </p>